*.exe
*.o
*.log
**/*-zahlen-eingabe
# Geany project files:
it5.dev
it5.layout
# 3rd party libraries:
lib/wingetopt/**
# Compiled Linux binaries:
baseconv
basis-rechner
main
minimum
mittelwert
string-eingabe
taschenrechner-linux
testTextEingabe
viele-zahlen
zahlensysteme
